@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


@font-face {
    font-family: 'android';
    src: url(idroid.otf) format('opentype');
    font-weight: normal;

}
/*
(paleta de cores do meu site)

#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e

*/

:root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Press Start 2P", system-ui;
    --fonte-android: 'android';
}

*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrão);

}
a.externo::after {
    content: '\1F517';
}
header {
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor06));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 2em;
    margin-bottom: 20px;

}   

header > p {
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-bottom: 15px;
}

nav {
    background-color: var(--cor06);
    text-decoration: none;
    padding: 10px;
    box-shadow: 0px 7px 7px black;

}

nav a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 1s;
    
    
}

nav > a:hover {
    background-color: var(--cor02);
    color: var(--cor04);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    margin-top: 30px;
    border-radius: 30px;
}

main h1 {
    color: var(--cor05);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor05);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor01), transparent);

}


 main img {
    width: 100%;
 }

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor05);
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

main > a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor04);
    padding: 2px 6px
    
}

main a:hover {
    text-decoration: underline;
    color: var(--cor04);
}

div.video {
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 10px;
    box-shadow:  3px 3px 8px rgba(0, 0, 0, 0.441);
}
aside > h4 {
    background-color: var(--cor05);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
   list-style-position: inside;
   columns: 2;
   list-style-type:'\1F5F8';
}

footer {
    background-color: var(--cor06);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin-top: 30px;

}

footer> a {
    color: white ;
    font-weight: bolder;
    text-decoration: none;

}

footer a:hover {
    text-decoration: underline;
    color: var(--cor02)
}